<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.playone.cp" version="1.2.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>JSS_Cordova_Playone</name>
	<description>JSS_Cordova</description>
	<author>playone</author>

	<icon src="www/icons/icon-256.png" width="256" height="256" density="xxxhdpi" />
	<icon src="www/icons/icon-128.png" width="128" height="128" density="xhdpi" />
	<!-- iOS 8.0+ -->
	<icon src="www/icons/1024x1024.png" width="1024" height="1024" />
	<!-- iPhone 6 Plus  -->
	<icon src="www/icons/180x180.png" width="180" height="180" />
	<!-- iOS 7.0+ -->
	<!-- iPhone / iPod Touch  -->
	<icon src="www/icons/60x60.png" width="60" height="60" />
	<icon src="www/icons/120x120.png" width="120" height="120" />
	<!-- iPad -->
	<icon src="www/icons/76x76.png" width="76" height="76" />
	<icon src="www/icons/152x152.png" width="152" height="152" />
	<!-- Spotlight Icon -->
	<icon src="www/icons/40x40.png" width="40" height="40" />
	<icon src="www/icons/80x80.png" width="80" height="80" />
	<!-- iOS 6.1 -->
	<!-- iPhone / iPod Touch -->
	<icon src="www/icons/57x57.png" width="57" height="57" />
	<icon src="www/icons/114x114.png" width="114" height="114" />
	<!-- iPad -->
	<icon src="www/icons/72x72.png" width="72" height="72" />
	<icon src="www/icons/144x144.png" width="144" height="144" />
	<!-- iPad Pro -->
	<icon src="www/icons/167x167.png" width="167" height="167" />
	<!-- iPhone Spotlight and Settings Icon -->
	<icon src="www/icons/29x29.png" width="29" height="29" />
	<icon src="www/icons/58x58.png" width="58" height="58" />
	<!-- iPad Spotlight and Settings Icon -->
	<icon src="www/icons/50x50.png" width="50" height="50" />
	<icon src="www/icons/100x100.png" width="100" height="100" />
	
	<!-- Splashscreen Settings -->
	<!-- iOS only -->
	<platform name="ios">
		<splash src="www/Default@2x~universal~anyany.png" />
		<preference name="FadeSplashScreen" value="true"/>
		<preference name="FadeSplashScreenDuration" value="500"/>
		<preference name="ShowSplashScreenSpinner" value="false"/>
		<plugin name="cordova-plugin-admobpro-firebase" source="npm">
			<variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
			<variable name="ADMOB_APP_ID" value="ca-app-pub-9463460868384198~9110703668" />
		</plugin>
		<config-file target="*-Info.plist" parent="GADApplicationIdentifier">
			<string>ca-app-pub-9463460868384198~9110703668</string>
		</config-file>
	</platform>
	<!-- Android only -->
	<platform name="android">
		<splash src="www/Splash-Android.png" />
		<preference name="SplashMaintainAspectRatio" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="false" />
		<preference name="ShowSplashScreenSpinner" value="false"/>
		<plugin name="cordova-plugin-admobpro-firebase" source="npm">
			<variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
			<variable name="ADMOB_APP_ID" value="ca-app-pub-9463460868384198~8273098860" />
		</plugin>
	</platform>
	<!-- Common -->
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="3000" />	
	
	<!-- Localization -->	
	<config-file platform="ios" target="*-Info.plist" parent="CFBundleDevelopmentRegion">
		<array>
			<string>zh-Hant</string>
		</array>
	</config-file>
	<config-file platform="ios" target="*-Info.plist" parent="CFBundleLocalizations">
		<array>
			<string>zh-Hant</string>
		</array>
	</config-file>
	
	<!-- Permission Description -->	
	<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
		<string>需要啟用您的相機掃描展場中的光碼，以取得導覽或活動資訊。</string>
	</edit-config>
	
	<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
		<string>需要使用您的相簿以儲存照片。</string>
	</edit-config>
	
	<edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
		<string>需要取得您的位置資訊以偵測在您附近舉辦的展覽或活動</string>
	</edit-config>
	
	<edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
		<string>需要使用您的相簿以儲存照片。</string>
	</edit-config>
	
	<edit-config target="NSMicrophoneUsageDescription" file="*-Info.plist" mode="merge">
		<string>需要使用您的麥克風以儲存音訊</string>
	</edit-config>
	
	<preference name="android-targetSdkVersion" value="28" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="AllowInlineMediaPlayback" value="true" />

	<config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist"><true/></config-file>
	<config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist"><false/></config-file>


	<preference name="deployment-target" value="9.0" />
	<preference name="android-minSdkVersion" value="23" />
	<!-- for admobpro -->
	<preference name="android-build-tool" value="gradle" />
	<preference name="phonegap-version" value="cli-8.0.0" />
	<access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

	<plugin name="cordova-custom-config" />
	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-vibration" />
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-statusbar" />
	<plugin name="cordova-plugin-whitelist" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-password-dialog" source="npm" />
	<plugin name="cordova-plugin-pin-dialog" source="npm" />
	<plugin name="cordova-plugin-save-image" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-native-spinner" source="npm" />
	<plugin name="cordova-plugin-market-ibby" source="npm" />
	<plugin name="phonegap-plugin-barcodescanner" source="npm" />
	<plugin name="cordova-plugin-badge" source="npm" />
	<plugin name="cordova-plugin-local-notification" source="npm" />
	<plugin name="cordova-plugin-game-center" source="npm" />
	<plugin name="cordova-plugin-media-capture" />
	<!-- testing -->
	<plugin name="cordova-plugin-play-games-services">
		<variable name="ANDROID_PLAY_SERVICES_GAMES_VERSION" value="16.0.0" />
		<variable name="ANDROID_PLAY_SERVICES_PLUS_VERSION" value="16.0.0" />
		<variable name="APP_ID" value="1055728607458" />
	</plugin>	
	<plugin name="cordova-plugin-purchase" source="npm" version="9.0.0">
		<variable name="BILLING_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnleRaUGvAAZ8OeGfMSRzBh4/SSkz0LQLeshZGa/O3zAX84EmZUtzLkkxwkLbYFtv/MEu5qgq5TH1WDlT7u+QF0Wt2JtIWU5PtyfeiuJAU1TnUo4ImOw+UBE1rqWckovS98YyyGf3q+2SBym5i3pRFNb5tpJojf51/h9HiwF/+uU+Yy48epRoddUO7zx8VJX7irXSj879x3xjc2MmkgX2YQ5HynGSDNemYgiNKCULc5cfzQeF7DQHIZYNL4xT35mpc/jI16oK2uFEfTHHxVBRe5UDbeEOV1bCeVO0vbIJ/rE4ylZ1OkFMUuquQ3W1jksGPDfOGhZkEaGloKyRbDxLeQIDAQAB" />
	</plugin>

	<engine name="ios" />
	<engine name="android" />
</widget>